/*#bet{
    height: 100px;
    padding:0px;
    margin:0px;

}
#space{
    height:350px;
    padding:0px;
    margin:0px;
 
}*/
#icons{
    height: 100px;
    padding: 0px;
    margin: 0px;
    float: left;
    /*margin-top: 50px;*/
   /* margin-bottom: 20px;*/


}
#icons li h4{
    text-decoration: none;
    text-decoration-style: none;
    font-family: Tale of hawks;
    letter-spacing: 2px;
    color: white;
    font-variant: normal;
    font-size: 25px;
    margin-left: 3px;
    margin-right: 3px;
    margin: 0px;
    padding: 0px;
}
#icons ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0px;
    margin: 0px; 
   
    opacity: 0.5;
}
#icons ul li a:hover{
    list-style-type:none;
    display: inline-block;
    padding: 0px;
    margin: 0px;
    overflow: auto;
    opacity: 1;
}